<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" /-->
</head>

<body>
  <div class="vh-100 d-flex">
    <header class="sidebar d-flex flex-column justify-content-between">
      <ul>
        <h1><a href="index.html"><img src="assets/images/logo-ANSWER.svg" alt="logo"></a></h1>
        <li><a href="#">
            <span class="material-icons">insert_chart</span>
            Dashboard</a></li>
        <li><a href="#"><span class="material-icons">forum</span>Question</a></li>
        <li><a href="#"><span class="material-icons">assignment</span>Assignment</a></li>
        <li><a href="#"><span class="material-icons">video_library</span>Course</a></li>
        <li><a href="#"><span class="material-icons">supervisor_account</span>Admin</a></li>
        <li><a href="#"><span class="material-icons">settings</span>Settings</a></li>
      </ul>
      <div class="user d-flex">
        <img src="assets/images/andychen.jpeg" alt="">
        <h5 class="d-flex flex-column">Andy Chen
          <span>andy0401@mail.com</span>
        </h5>
      </div>
    </header>
    <main class="flex-grow-1">
      <%- contents %>
    </main>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>